# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

## Emacs ignores
*~
\#*\#
.\#*

## Home folder ignores

/Desktop
/dl
/h
/img
jagex*
/mnt
/src
/tmp
*.key
.netrc
.xsession-errors*
*.rom
*.gba
*.png
.*_history
.Xauthority
*.lock
.esd_auth
.wget-hsts
