<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/">
	<menu id="root-menu" label="Arch Linux">
		<item icon="/home/alex/.config/obmenu-generator/icons/a30e92494149eca162264f9b0580dfd6.png" label="Run command">
			<action name="Execute">
				<command>
				  <![CDATA[gmrun]]>
				</command>
			</action>
		</item>
		<item icon="/home/alex/.config/obmenu-generator/icons/694283fecac13b11e1af175c4524b601.png" label="Terminal">
			<action name="Execute">
				<command>
				  <![CDATA[terminator]]>
				</command>
			</action>
		</item>
		<item icon="/home/alex/.config/obmenu-generator/icons/a037bfffc522d495d868a1ab8385d463.png" label="File Manager">
			<action name="Execute">
				<command>
				  <![CDATA[thunar]]>
				</command>
			</action>
		</item>
		<item icon="/home/alex/.config/obmenu-generator/icons/857893a07b551338bc9cd1908bece1af.png" label="Web Browser">
			<action name="Execute">
				<command>
				  <![CDATA[icecat]]>
				</command>
			</action>
		</item>
		<separator label="Layman’s Programs"/>
		<item label="Audacious">
			<action name="Execute">
				<command>
					<![CDATA[audacious]]>
				</command>
			</action>
		</item>
		<item icon="/home/alex/.config/obmenu-generator/icons/59e899bac47644849db1cd5080f13f22.png" label="Old School RuneScape">
			<action name="Execute">
				<command>
					<![CDATA[osbuddy]]>
				</command>
			</action>
		</item>
		<item icon="/home/alex/.config/obmenu-generator/icons/cf15f618bc9c4a4eb28d1d1e71605924.png" label="Discord (Canary)">
			<action name="Execute">
				<command>
					<![CDATA[discord-canary]]>
				</command>
			</action>
		</item>
		<menu id="35791346501938" label="AGBPlay OSTs">
			<item label="Pokémon Ruby">
				<action name="Execute">
					<command>
						<![CDATA[terminator -p agbplay -e 'agbplay /mnt/wdblack/rh/xbin/ruby-1.0.gba']]>
					</command>
				</action>
			</item>
			<item label="Pokémon Emerald">
				<action name="Execute">
					<command>
						<![CDATA[terminator -p agbplay -e 'agbplay /mnt/wdblack/rh/xbin/emerald-1.0.gba']]>
					</command>
				</action>
			</item>
			<item label="Pokémon Mystery Dungeon">
				<action name="Execute">
					<command>
						<![CDATA[terminator -p agbplay -e 'agbplay /mnt/wdblack/rh/xbin/pmdred.gba']]>
					</command>
				</action>
			</item>
		</menu>
		<separator label="CS Programs"/>
		<item icon="/home/alex/.config/obmenu-generator/icons/60d6698e4b114584b3efea49c2ec54dd.png" label="Emacs">
			<action name="Execute">
				<command>
				  <![CDATA[atom]]>
				</command>
			</action>
		</item>
		<item icon="/home/alex/.config/obmenu-generator/icons/5f7e0fe98858a941b59340759b8710e4.png" label="CMake">
			<action name="Execute">
				<command>
				  <![CDATA[cmake-gui]]>
				</command>
			</action>
		</item>
		<menu icon="/home/alex/.config/obmenu-generator/icons/078fc434d1d790ad6c8690cf495cbf68.png" id="0.890114164573863" label="Settings">
			<item icon="/home/alex/.config/obmenu-generator/icons/589c134d8274a2095c9c84dbab3c3b45.png" label="Customize Look and Feel">
				<action name="Execute">
					<command>
					  <![CDATA[lxappearance]]>
					</command>
				</action>
			</item>
			<item icon="/home/alex/.config/obmenu-generator/icons/61f3de6fd06f9847e869878302ba1980.png" label="Openbox Configuration Manager">
				<action name="Execute">
					<command>
					  <![CDATA[obconf]]>
					</command>
				</action>
			</item>
			<item icon="/home/alex/.config/obmenu-generator/icons/e25fa831dcfce3d855f67af87e68537f.png" label="Tint2 Settings">
				<action name="Execute">
					<command>
					  <![CDATA[tint2conf]]>
					</command>
				</action>
			</item>
			<item icon="/home/alex/.config/obmenu-generator/icons/10d498e166a741b19d2e806faaaf037e.png" label="Volume Control">
				<action name="Execute">
					<command>
					  <![CDATA[pavucontrol]]>
					</command>
				</action>
			</item>
			<item icon="/home/alex/.config/obmenu-generator/icons/e261e290eaafd622f71e054a3c6cf0f0.png" label="Configure Menu">
			  <action name="Execute">
				 <command>
					<![CDATA[atom ~/.config/openbox/menu.xml]]>
				 </command>
			  </action>
			</item>
			<item icon="/home/alex/.config/obmenu-generator/icons/cbd33e85d4e0834359519a4e282b2aeb.png" label="Reconfigure Openbox">
			  <action name="Reconfigure"/>
			</item>
		</menu>
		<menu icon="/home/alex/.config/obmenu-generator/icons/fd628ed484cde4e52de01d30118714dd.png" id="0.890670950277112" label="System">
			<item icon="/home/alex/.config/obmenu-generator/icons/cdcea508de444518ab6fe5feade7771b.png" label="Disk Management">
				<action name="Execute">
				  <command>
					 <![CDATA[gksudo gparted]]>
				  </command>
				</action>
			</item>
			<item icon="/home/alex/.config/obmenu-generator/icons/6d99c37cad76d7c6334203a717e1c776.png" label="Terminator">
				<action name="Execute">
					<command>
					  <![CDATA[gksudo terminator]]>
					</command>
				</action>
			</item>
			<item icon="/home/alex/.config/obmenu-generator/icons/2fa8befb76c5e94175678fc3f33acfaa.png" label="Thunar File Manager">
				<action name="Execute">
					<command>
					  <![CDATA[gksudo thunar]]>
					</command>
				</action>
			</item>
		</menu>
		<separator/>
		<item icon="/home/alex/.config/obmenu-generator/icons/558a18c998de0d4273b83478986404d3.png" label="Exit">
			<action name="Execute">
				<command>
<![CDATA[oblogout]]>
				</command>
			</action>
		</item>
	</menu>
</openbox_menu>
